/.vs/
/bin/
/obj/
/artifacts/
/TestResults/
/packages/
/publish/
/Output/

*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates
*.cache
*.log
*.tmp
*.pdb
*.ilk
*.ipdb
*.iobj
*.idb
*.tlog

/.idea/

.DS_Store
Thumbs.db
desktop.ini

*.nupkg
*.snupkg

/libmpv-2.dll
