/.vs/
/bin/
/obj/
/artifacts/
/TestResults/
/packages/
/publish/
/Output/

*.suo
*.user
*.userosscache
*.rsuser
*.sln.docstates
*.cache
*.log
*.tmp
*.pdb
*.ilk
*.ipdb
*.iobj
*.idb
*.tlog

/.idea/

.DS_Store
Thumbs.db
desktop.ini

*.nupkg
*.snupkg

/libmpv-2.dll
docs/screenshots/命令.md
docs/screenshots/cdn.md
docs/screenshots/推荐分类.md
/node_modules
docs/public/screenshots/命令.md
docs/public/screenshots/推荐分类.md

docs/.vitepress/cache/
docs/.vitepress/dist/

